.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-details {
  margin-bottom: 20px;
}

.user-details label {
  font-weight: bold;
}

.user-details p {
  margin: 5px 0;
}

.user-image {
  max-width: 20%; 
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .profile-container {
      padding: 10px;
  }

  .user-image {
      max-width: 30%;
  }
}

@media (max-width: 576px) {
  .profile-container {
      padding: 5px;
  }

  .user-image {
      max-width: 50%;
  }
}
